body {
    background-color: black;
    /*#aaa*/
    color     : white;
    height: 100%;
    max-width : 100%;
    box-sizing: content-box;
    border: 10px solid white;
    border-radius: 20px;
    outline: none;    ;
    -webkit-border-radius: 20px    ;
    -moz-border-radius: 20px    ;
    -ms-border-radius: 20px    ;
    -o-border-radius: 20px    ;
    padding-bottom: 800px;
 }
 
 
 
 
 .containAllElements1 {
    max-height: 600px;
    margin-top: 200px;
 }
 
 
 #colorDisplay{
    font-size: 1.3em;
 }
 
 
 .headOne{
    text-transform: uppercase;
    font-size: 2em;
    word-spacing: 10px;
    text-shadow: 3px 3px black;
    line-break: auto;
    padding: 50px 0 50px 0;
 }
 .easyHard{
    font-size: 40px;
    text-shadow: -4px -5px black;
 }
 
 
 .spanMessege{
    display: inline-block;
    padding-top: 70px;
    text-shadow: 3px -3px black;
    font-size: 40px;
 }
 
 
 .colorSquer {
    width                : 600px;
    height               : 200px;
    margin               : 0 auto;
    background-color     : purple;
    border-radius        : 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius   : 10px;
    -ms-border-radius    : 10px;
    -o-border-radius     : 10px;
 }
 
 
 .expertDisplay {
    max-width : 600px;
    margin    : 30px auto;
    text-align: center;
 }
 
 
 .squer {
    width           : 20%;
    padding-bottom  : 20%;
    background-color: red;
    margin          : 10px;
    float           : left;
    border-radius   : 50%;
    /* box-shadow   : 10px 10px #eee;*/
 
 
 }
 
 
 #message {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size : 60px;
 }
 
 
 .checkMessage {
    max-width: 900px;
    font-size: 20px;
    max-width: 600px;
    margin   : 0 auto;
 }
 
 
 #container {
    max-width: 600px;
    margin   : 0 auto;
 
 
 }
 
 
 h1 {
    /* max-width : 600px; */
    margin    : 20px auto;
    text-align: center;
    font-size : 6em;
 }
 
 
 
 
 .item6 {
    padding: 7px;
 }
 
 
 .item1 {
    color: rgb(213, 114, 38);
 }
 
 
 .item2 {
    color: rgb(11, 132, 165);
 }
 
 
 .item3 {
    color: rgb(201, 206, 19);
 }
 
 
 .item4 {
    color: rgb(11, 132, 165);
 }
 
 
 .item5 {
    color: rgb(213, 114, 38)
 }
 
 
 .item7 {
    color: rgb(154, 31, 152)
 }
 
 
 .item8 {
    color: rgb(44, 206, 19)
 }
 
 
 .item9 {
    color: rgb(218, 63, 174)
 }
 
 
 .item10 {
    color: rgb(233, 34, 104)
 }
 
 
 
 
 .btnCont {
    clear     : both;
    text-align: center;
 
 
 }
 
 
 span {
    color: white;
 }
 
 
 .button {
    width     : 250px;
    padding   : 20px;
    margin    : 50px 10px 0 10px;
    font-size : 25px;
    outline   : none;
    background: #cccccc;
    background: -moz-linear-gradient(top, #cccccc 0%, #303030 12%, #666666 32%, #666666 32%, #c4c4c4 47%, #f7f7f7 56%, #e0e0e0 59%, #ededed 72%, #a0a0a0 82%, #141414 91%, #161616 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cccccc 0%, #303030 12%, #666666 32%, #666666 32%, #c4c4c4 47%, #f7f7f7 56%, #e0e0e0 59%, #ededed 72%, #a0a0a0 82%, #141414 91%, #161616 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cccccc 0%, #303030 12%, #666666 32%, #666666 32%, #c4c4c4 47%, #f7f7f7 56%, #e0e0e0 59%, #ededed 72%, #a0a0a0 82%, #141414 91%, #161616 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#161616', GradientType=0);
    /* IE6-9 */
 
 
 }
 
 
 .reset {
    border-radius: 20px;
    font-size    : 30px;
    padding      : 20px;
 }
 
 
 .headContainer {
    text-align      : center;
    margin          : 40px auto;
    background-color: #aaa;
    max-width       : 600px;
    padding         : 20px;
    border-radius   : 20px;
    border          : 3px solid #aaa;
 }
 
 
 .hardMode {
    margin-left             : 10px;
    box-shadow              : 3px 3px #aaa;
    /*border-top-left-radius: 20px;*/
 }
 
 
 .easyMode {
    border-radius           : 20px 0 0 20px;
    margin-left             : 10px;
    box-shadow              : -5px 5px #aaa;
    /*border-top-left-radius: 20px;*/
 }
 
 
 .expertMode {
    border-radius: 0 20px 20px 0;
    box-shadow   : 5px 5px #ccc;
 }
 
 
 .inputcolor {
    font-size: 30px;
    width: 200px;
    padding: 15px 5px 15px;
    text-align: center;
 }
 
 
 
 
 
 
 .guesedColor {
    display         : inline-block;
    width           : 500px;
    height          : 200;
    padding         : 40px;
    background-color: yellow;
    margin          : 0 auto;
    border-radius   : 20px;
    border          : 3px solid white;
    font-size       : 2.0em;
    text-shadow     : 2px 2px black;
    margin          : 20px auto;
    text-transform  : uppercase;
 }
 
 
 .btntext {
    margin-top   : 15px;
    font-size    : 15px;
    width        : 400px;
    border-radius: 10px;
    box-shadow   : 3px 3px #bbb;
    text-align: center;
    padding   : 25px;
    outline      : none;
 }
 
 
 
 
 .greenbtn {
    font-size          : 1.8em;
    color              : white;
    text-shadow        : 3px 3px black;
    background-image   : linear-gradient(to right, red, green, blue);
    box-shadow         : 5px 5px black;
    /* background-color: green; */
 }
 
 
 .textareaInput {
    max-width : 900px;
    margin    : 0 auto;
    text-align: center;
 }
 
 
 .rgbnum {
    max-width : 900px;
    margin    : 0 auto;
    clear     : both;
    text-align: center;
 }
 
 
 @media (max-width: 600px) {
    /* body {
        border               : 5px solid white;
        border-radius        : 20px;
        padding-bottom       : 100px;
        -webkit-border-radius: 20px;
        -moz-border-radius   : 20px;
        -ms-border-radius    : 20px;
        -o-border-radius     : 20px;
    } */
 
 
    .colorSquer {
        width : 200px;
        height: 150px;
    }
 
 
    .button {
        width                : 100px;
        padding              : 10px;
        margin               : 30px 10px 0 10px;
        font-size            : 15px;
        border-radius        : 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius   : 10px;
        -ms-border-radius    : 10px;
        -o-border-radius     : 10px;
    }
 
 
    .guesedColor {
        display  : inline-block;
        width    : 200px;
        height   : 100px;
        padding  : 20px;
        font-size: 20px;
    }
 
 
    #container {
        max-width: 350px;
        margin   : 0 auto;
    }
 
 
    .squer {
        width         : 15%;
        padding-bottom: 15%;
        margin        : 10px 0 0 49px;
    }
 
 
    .inputcolor {
        font-size: 10px;
        width    : 100px;
        padding  : 10px;
    }
 
 
    h2 {
        font-size: 25px;
    }
 }
 
 
 @media (max-width: 850px) {
    .button {
        width                : 150px;
        padding              : 10px;
        margin               : 30px 10px 0 10px;
        font-size            : 15px;
        border-radius        : 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius   : 10px;
        -ms-border-radius    : 10px;
        -o-border-radius     : 10px;
    }
 
 
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 40px;
    }
   
   
 
 
 }
 
 
 @media (max-width:550px) {
    h2 {
        font-size: 17px;
    }
 
 
    .greenbtn {
        font-size       : 1em;
        background-image: linear-gradient(to right, red, green, blue);
        box-shadow      : 5px 5px white;
    }
 }
 